name: CI

on: push

jobs:
  setup:
    uses: ./.github/workflows/setup.yml
  ci:
    needs: setup
    runs-on: ubuntu-latest

    steps:
      - name: Check
        run: |
          pwd
          ls -l
          ls /home/runner/work/Brotato-ArchipelagoClient/
      - name: Setup test dependencies
        run: pip install ruff -r ./Archipelago/ci-requirements.txt

      - name: Run ruff format
        run: ruff format --diff apworld/brotato tools/

      - name: Run ruff lint
        run: ruff check --diff apworld/brotato tools/

      - name: Run Archipelago tests
        working-directory: ./Archipelago
        run: pytest worlds/brotato
