name: Release

on:
  push:
    tags:
      - "*"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout own code
        uses: actions/checkout@v5

      - name: Common Setup
        uses: ./.github/actions/setup

      - name: Build Tools
        run: sudo apt-get install build-essential

      - name: Create .apworld
        working-directory: ./Archipelago
        run: |
          python ./Launcher.py "Build APWorlds" -- "Brotato"
          cp build/apworlds/brotato.apworld ../

      - name: Create template yaml
        working-directory: ./Archipelago
        run: |
          python ./Launcher.py "Generate Template Options" -- --skip_open_folder
          cp Players/Templates/Brotato.yaml ../

      - name: Zip client mod
        working-directory: ./client_mod
        run: zip -r ../RampagingHippy-Archipelago.zip * .import/*

      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "brotato.apworld,Brotato.yaml,RampagingHippy-Archipelago.zip"
          skipIfReleaseExists: true
