name: Release

on:
  push:
    tags:
      - "*"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout own code
        uses: actions/checkout@v5

      - name: Common Setup
        uses: ./.github/actions/setup

      - name: Build Tools
        run: sudo apt-get install build-essential

      - name: Create .apworld and template yaml
        working-directory: ./Archipelago
        run: |
          python ./Launcher.py "Build APWorlds" -- "Brotato"
          echo ######################## ls ######################
          ls
          echo ######################## ls build ######################
          ls build/apworlds

          cp build/apworlds/brotato.apworld ../
          cp build/apworlds/Brotato.yaml ../

      - name: Zip client mod
        working-directory: ./Brotato-ArchipelagoClient/client_mod
        run: zip -r ../RampagingHippy-Archipelago.zip * .import/*

      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "brotato.apworld,Brotato.yaml,RampagingHippy-Archipelago.zip"
          skipIfReleaseExists: true
