name: Release

on:
  push:
    tags:
      - "*"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  setup:
    uses: ./.github/workflows/setup.yml

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Create .apworld and template yaml
        working-directory: ./Archipelago
        run: |
          python ./Launcher.py "Build APWorlds" -- "Brotato"
          cp build/apworlds/brotato.apworld ../
          cp build/apworlds/Brotato.yaml ../
          ls ../

      - name: Zip client mod
        working-directory: ./Brotato-ArchipelagoClient/client_mod
        run: zip -r ../../RampagingHippy-Archipelago.zip * .import/*

      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "brotato.apworld,Brotato.yaml,RampagingHippy-Archipelago.zip"
          skipIfReleaseExists: true
