name: Release

on:
  push:
    tags:
      - "*"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  setup:
    uses: ./.github/workflows/setup.yml

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Create .apworld and template yaml
        working-directory: ../Archipelago
        run: |
          python ./Launcher.py "Build APWorlds" -- "Brotato"

      - name: Zip client mod
        working-directory: ./client_mod
        run: zip -r ../RampagingHippy-Archipelago.zip * .import/*

      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "../build/apworlds/brotato.apworld,../build/apworlds/Brotato.yaml,RampagingHippy-Archipelago.zip"
          skipIfReleaseExists: true
